# Statistical Test for JPH and I paper

In [20]:
#basic data libraries
import makedalytics as ma
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
from matplotlib import rc
from datetime import datetime
from datetime import date
from pandas.tseries.offsets import DateOffset
# math libraries and packages
import math as mth
import scipy
import scipy.special
#fancy visualization and other fancy libraries and packages
import datetime as dt
from IPython.display import Markdown, display
from matplotlib import pylab
import pylab as p

In [2]:
#import MOH dataset
moh= pd.read_csv('D:/MAXCORlabwork/covid/current_moh_file/covid19-data-israel-30032021.csv')

In [3]:
moh =  moh.rename(columns={'מספר חולים קשה': "number_kashim", 'מספר חולים מונשמים': "total_intubated", 'מספר נפטרים מצטבר':'deaths'})

In [4]:
moh =  moh.rename(columns={'תאריך': "date"})
moh =  moh.rename(columns={'מספר בדיקות מצטבר': "number_tests", 'חולים מאושפזים': "number_admitted",'מספר חולים מצטבר':"number_sick"})

moh['total_deaths_n'] = moh['deaths'].str.replace(',', '')
moh['total_deaths_n'] = pd.to_numeric(moh['total_deaths_n'])
# now we can add a column for daily deaths by subtracting the total deaths from the deaths the day before
moh['daily_deaths']= moh['total_deaths_n']-  moh['total_deaths_n'].shift()

In [5]:
moh ['date_as_date'] = pd.to_datetime(moh.date, format= '%d/%m/%Y %H:%M:%S')
moh['total_sick_n']= moh.number_sick.str.replace(',', '')
moh['total_sick_n'] = pd.to_numeric(moh['total_sick_n'])
moh['case_fatality_rate'] = moh.total_deaths_n/moh.total_sick_n
moh['daily_sick'] = moh['total_sick_n'] - moh['total_sick_n'].shift()
#monthly_moh = lo.resample('M').sum()

In [6]:
sum_deaths_december7_to_d21= moh[moh.date_as_date < '21/12/2020'].daily_deaths.sum() - moh[moh.date_as_date < '07/12/2020'].daily_deaths.sum()
sum_deaths_december27_to_j10= moh[moh.date_as_date < '10/01/2021'].daily_deaths.sum() - moh[moh.date_as_date < '27/12/2020'].daily_deaths.sum()

In [7]:
cases_december7_to_d21 = moh[moh.date_as_date < '21/12/2020'].daily_sick.sum() - moh[moh.date_as_date < '07/12/2020'].daily_sick.sum()
cases_december27_to_j10 = moh[moh.date_as_date < '10/01/2021'].daily_sick.sum() - moh[moh.date_as_date < '27/12/2020'].daily_sick.sum()

In [8]:
sum_deaths_december7_to_d21/cases_december7_to_d21

0.008141642104765255

In [9]:
sum_deaths_december27_to_j10/cases_december27_to_j10

0.006817835735149577

In [10]:
living_cases_december27_to_j10 = cases_december27_to_j10 - sum_deaths_december27_to_j10

In [11]:
living_cases_december7_to_d21 = cases_december7_to_d21 - sum_deaths_december7_to_d21

# From these numbers we can do a Fisher's test with either deaths versus cases in these two time period, or deaths versus cases minus deaths.

In [12]:
ar=np.array([[sum_deaths_december7_to_d21, sum_deaths_december27_to_j10],[living_cases_december7_to_d21, living_cases_december27_to_j10]])    
df=pd.DataFrame(ar, columns=["Before b117", "after b117"])
df.index=["deaths", "cases minus deaths"] 
df

                    Before b117  after b117
deaths                   2754.0      2955.0
cases minus deaths     335507.0    430467.0

In [13]:


df2=df.copy()
df2.loc['Column_Total']= df2.sum(numeric_only=True, axis=0)
df2.loc[:,'Row_Total'] = df2.sum(numeric_only=True, axis=1)
df2

                    Before b117  after b117  Row_Total
deaths                   2754.0      2955.0     5709.0
cases minus deaths     335507.0    430467.0   765974.0
Column_Total           338261.0    433422.0   771683.0

In [14]:
# based on online Fisher tool:
print("The Fisher exact test statistic value is < 0.00001. The result is significant at p < .05.")
print("Courtesy of online tool at https://www.socscistatistics.com/tests/fisher/default2.aspx")
print("But scientists don't trust the internet...I'll do my own calculations. I'll start with an expected values table:")

The Fisher exact test statistic value is < 0.00001. The result is significant at p < .05.
Courtesy of online tool at https://www.socscistatistics.com/tests/fisher/default2.aspx
But scientists don't trust the internet...I'll do my own calculations. I'll start with an expected values table:

In [15]:
# expected values table
n=df2.at["Column_Total", "Row_Total"]  # grand total 

exp=df2.copy()               # create dataframe with expected frequencies
for x in exp.index[0:-1]:
    for y in exp.columns[0:-1]:
        # round expected values to nearest hundredths:
        v= (((df2.at[x, "Row_Total"]) * (df2.at["Column_Total", y])   )   /n ).round(2) 
        exp.at[x,y]=float(v)

exp

                    Before b117  after b117  Row_Total
deaths                  2502.49     3206.51     5709.0
cases minus deaths    335758.51   430215.49   765974.0
Column_Total          338261.00   433422.00   771683.0

In [21]:
# Someone buy me a new computer please...
def p(a): 
    v=(scipy.special.binom(int(df2.iloc[0,2]), a) * scipy.special.binom(int(df2.iloc[1,2]), (int(df2.iloc[2,0])-a)) )/scipy.special.binom(n, int(df2.iloc[2,0]))
    return v

p(1) # if we try "a=1" we get the following probability ..

C:\Users\makeda\AppData\Local\Temp/ipykernel_5692/2358108880.py:3: RuntimeWarning: invalid value encountered in double_scalars
  v=(scipy.special.binom(int(df2.iloc[0,2]), a) * scipy.special.binom(int(df2.iloc[1,2]), (int(df2.iloc[2,0])-a)) )/scipy.special.binom(n, int(df2.iloc[2,0]))

nan

In [22]:
p_observed=p(7) # In our contingency table, a was equal to 7.

p_list=[]
for i in range(int(df2.iloc[0,2])  + 1  ): # calculate p(a) for every possible table we can get given the fixed margins...
#... this ranges from "9 choose 0" to "9 choose 9" so we should get 10 possible tables and their respective probabilities..
    if p(i)<=p_observed:
        p_list.append(p(i))     # append these probabilites to p_list only if <= p_observed
        
p_val=np.sum(p_list) # the sum of this list corresponds to the p-value 
p_val

C:\Users\makeda\AppData\Local\Temp/ipykernel_5692/2358108880.py:3: RuntimeWarning: invalid value encountered in double_scalars
  v=(scipy.special.binom(int(df2.iloc[0,2]), a) * scipy.special.binom(int(df2.iloc[1,2]), (int(df2.iloc[2,0])-a)) )/scipy.special.binom(n, int(df2.iloc[2,0]))

0.0

In [23]:
ar=np.array([[7.0, 2.0],[1.0, 12.0]])    
df=pd.DataFrame(ar, columns=["Responded", "No Response"])
df.index=["Males", "Females"] 
df2=df.copy()
df2.loc['Column_Total']= df2.sum(numeric_only=True, axis=0)
df2.loc[:,'Row_Total'] = df2.sum(numeric_only=True, axis=1)
df2

              Responded  No Response  Row_Total
Males               7.0          2.0        9.0
Females             1.0         12.0       13.0
Column_Total        8.0         14.0       22.0

In [25]:



oddsratio, pvalue = stats.fisher_exact([[sum_deaths_december7_to_d21, sum_deaths_december27_to_j10],[living_cases_december7_to_d21, living_cases_december27_to_j10]])  
pvalue

1.9389954999320798e-11

# or approximately zero

The probability that we would observe this or an even more imbalanced ratio by chance is about 0%, or to be exact 1.9389954999320798e-11 percent. A commonly used significance level is 5%–if we adopt that, we are defintely fine. Looks like the internet did not lie to us, this time.